/* HeroesComponent's private CSS styles */
.students {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.students li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #eee;
  margin: 0.5em;
  padding: 0.5em 0;
  height: 1.6em;
  border-radius: 4px;
  list-style: none;
}
.students li:hover {
  color: #607d8b;
  background-color: #ddd;
  left: 0.1em;
}
.students li.selected {
  background-color: #cfdccf;
  color: white;
}
.students li.selected:hover {
  background-color: #bbd8dc;
  color: white;
}
.students .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}
